<h1>Validação de HASH</h1>

<button type="button" (click)="fileInput.click()" class="btn btn-primary" data-toggle="tooltip"
  title="O arquivo selecionado deve estar bem formado">
  <span>Selecione um arquivo TISS</span>
  <input #fileInput type="file" (change)="fileUpload($event)" style="display:none;" accept=".xml" />
</button>
<br><br>
<div ng-app>
  <textarea type=text id="file-content" rows="20" cols="200" autocomplete="off" autocorrect="off" autocapitalize="off"
    spellcheck="false"></textarea>
</div><br>
<button class="btn btn-primary" id="validate-file" (click)="validateFile()">Validar</button>
<br><br>
<div *ngIf="hashResult?.calculatedHash?.length > 0">
  <h4>
    <div [style.color]="hashResult?.reportedHash == hashResult?.calculatedHash ? 'green' : 'red'">
      <i
        [class]="hashResult?.calculatedHash == hashResult?.reportedHash ? 'fas fa-check-circle' : 'fas fa-times-circle' "></i>
      &nbsp;
      <label>Hash informado:</label>
      <label id="reported-hash">{{ hashResult?.reportedHash }}</label>
      <br />
      <i
        [class]="hashResult?.calculatedHash == hashResult?.reportedHash ? 'fas fa-check-circle' : 'fas fa-times-circle' ">
      </i> &nbsp;
      <label>Hash calculado :</label>
      <label id="calculated-hash">{{ hashResult?.calculatedHash }}</label>
      <br /><br />
    </div>
    <label>Conteúdo extraído do arquivo:</label>
  </h4>
  <textarea type=text id="hash-content" rows="10" cols="200" readonly="readonly" autocomplete="off" autocorrect="off"
    autocapitalize="off" spellcheck="false" [style.color]="'gray'">{{ hashResult?.content }}</textarea>
</div>
